.playerPopup {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate( -50%, -50% );
  visibility: visible;

  &__heading {
    .Text {
      color: white;
      font-family: sans-serif;
      font-size: 2rem;
      font-weight: 500;
      left: 1rem;
      position: relative;
      text-align: center;
    }
  }

  &__list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    .show-tick {
      svg {
        visibility: visible;
      }
    }

    .hide-tick {
      svg {
        visibility: hidden;
      }
    }

    .Button {
      align-items: center;
      background-color: transparent;
      display: flex;
      height: 3rem;
      padding: 0;
      width: auto;
      &::after { border: none; }

      &--focused {
        span {
          display: inline-block;
          font-weight: 500 !important;
          transform: scale( 1.2 );
        }
      }

      svg {
        height: 1.25rem;
        margin-right: 2rem;
        width: 1.25rem;
      }

      span {
        color: white;
        font-family: sans-serif;
        font-size: 1.25rem;
        font-weight: normal;
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
        text-align: center;
      }
    }
  }
}