@import '../../../styles/src/variables';

.LoginOtpEnteringPane {
  // width: 30rem;

  &__title {
    margin-bottom: 2.5rem;
  }

  &__otpMessage {
    margin-bottom: 0.625rem;

    p {
      line-height: 1.375rem;
    }
  }

  &__otpBox {
    display: flex;
    margin-bottom: .75rem;

    .InputField {
      margin: 0 1rem 0 0;
      padding: 0;

      &__content {
        background: map-get( $bingeBlue, '125' );
        border: 0.125rem solid map-get( $bingeBlue, '75' );
        border-radius: 0.755rem;
        box-shadow: 0 0 0.95rem rgba( 0, 0, 0, 0.25 );
        display: flex;
        height: 4.125rem;
        margin: 0;
        mix-blend-mode: normal;
        padding: 0;
        width: 4.125rem;
      }

      &__formControls {
        margin: 0;

        .InputField__input {
          font-family: map-get( $fontfamilies, 'VoltePlay' );
          font-size: map-get( $fontsizes, 'p30' );
          font-weight: map-get( $fontweights, '400' );
          margin: 0;
          padding: 0;
          text-align: center;
        }
      }
    }

    &--error .InputField__content {
      border: 0.0625rem solid map-get( $error, '600' );
    }
  }

  &__resendsection {
    color: map-get( $neutral, '25' );
    display: flex;
    justify-content: flex-start;

    .Button {
      left: 1rem;
      position: relative;
    }

    .Button--disabled {
      background-color: map-get( $neutral, '400' );
      color: map-get( $neutral, '25' );
      margin-bottom: 1rem;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    width: 13rem;
  }

  &__resend {
    color: map-get( $error, '600' );
    margin-bottom: 1rem;
    margin-top: 0.7rem;
    // width: 61%;

    p {
      line-height: 1.5rem;
    }
  }

  &__resendBtn {
    margin-left: auto;
    margin-right: 0;
    padding: 0.562rem 1.833rem;

    &.Button--focused {
      background-color: map-get( $pink, '100' );
    }

    .Button__insideContentLabel {
      font-weight: 600;
      line-height: 1.5rem;
    }
  }

  &__resendBtnDisabled {
    color: #666;
    margin-left: auto;
    margin-right: 0;
    padding: 0.562rem 1.833rem;

    &::after {
      border: 0.187rem solid #999;
    }

    .Button__insideContentLabel {
      font-weight: 600;
      line-height: 1.5rem;
    }
  }

  &__codeexpires {
    p {
      font-weight: 400;
      line-height: 1.375rem;
    }

    > p:first-child {
      font-weight: 400;
      margin-bottom: .5rem;
    }
  }
}
