@import '../../../styles/src/variables';

.RemoveDevice {
  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2.75rem 3.3125rem;
    padding: 0;
  }

  &__title {
    margin-bottom: 2.5rem;
    margin-top: 1.35rem;

    .Text {
      line-height: 1.9375rem;
      text-align: center;
    }
  }

  &__button {
    .Button {
      border-radius: 1.375rem;
      height: 2.5rem;
      justify-content: center;
      width: 25rem;
    }

    &:hover {
      border: 0.1875rem solid $white;
      border-radius: 1.375rem;
    }
  }

  &__goBack {
    margin-bottom: 0.9375rem;
    margin-top: 1.34375rem;

    .Button {
      background: inherit;
      color: $white;
      font-size: 1rem;
      height: 0.1875rem;
      padding: 0;
      width: auto;
    }

    svg {
      margin: 0;
    }
  }
}

.RemoveDeviceModal {
  padding: 0;
  width: 34.375rem;
}