.progressBarContainer {
  align-items: center;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 2.5rem;
  position: fixed;
  top: 41rem;
  width: 100%;
  z-index: 20;

  .progressBar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__timestamp {
      display: flex;
      font-size: 1.5rem;
      font-weight: 600;
      justify-content: center;
      width: 7rem;
    }

    &__hideTimestamp {
      display: none;
    }

    &__addTimer {
      margin: 0 0.5rem;
      width: 4rem;

      .Text {
        align-items: center;
        background: #0006;
        border-radius: 0.25rem;
        display: flex;
        font-size: 1.25rem;
        font-weight: 600;
        height: 2rem;
        justify-content: center;
        line-height: 1.5rem;
        padding: 0.175rem 0.33rem 0;
      }
    }

    /* seekbar style started */
    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      background-image: linear-gradient( #dd38c9, #dd38c9 );
      background-repeat: no-repeat;
      background-size: 0% 100%;
      cursor: pointer;
      width: 100%;
    }

    /* Removes default focus */
    input[type="range"]:focus {
      outline: none;
    }

    /* slider track */
    input[type="range"]::-webkit-slider-runnable-track {
      background-color: rgb( 186, 184, 185 );
      border-radius: 0.5rem;
      height: 0.5rem;
    }

    /* slider thumb */
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;

      /* custom styles */
      background-color: #dd38c9;
      border-radius: 0.9625rem;
      display: block;
      height: 1.5rem;
      margin-top: -12px; /* Centers thumb on the track */
      width: 1.5rem;
    }

    &_focussedSeekBar input[type="range"]::-webkit-slider-thumb {
      border-radius: 1rem;
      height: 2rem;
      position: relative;
      top: -0.3rem;
      width: 2rem;
    }

    input[type="range"]:focus::-webkit-slider-thumb {
      border: none;
      outline: none;
    }

    /* seekbar style ended */
  }

  .seekBarpointer {
    pointer-events: none;
  }
}

.progressBarContainerWithSubtitle {
  top: 38rem;
}

.progressBarForADUI {
  gap: 0.83rem;
  position: unset;
  top: 39.5rem;
  z-index: unset;
}

#currentTime {
  margin-right: 0.5rem;
}

#videoDuration {
  margin-left: 0.5rem;
}