@import '../../../styles/src/variables';
@import '../../../styles/src/colors.module';
@import '../../../styles/src/mixins';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.launchProviderModalSamsung {
  align-items: center;
  gap: 0.625rem;
  justify-content: center;
  overflow-y: hidden;
  padding: 1.25rem 2.5rem 2.5rem;
}

.launchProviderSamsung {
  width: 36.666rem;

  &__back {
    margin-top: 5%;

    .Button {
      background-color: transparent;
      color: $white;
      font-size: 1.0625rem;
      font-weight: map-get( $fontweights, '500' );
      height: 2.5rem;
      line-height: 1.0625rem;
      padding: 0;
      width: 7.188rem;

      svg {
        height: 1rem;
        margin: 0 0.5rem 0 0;
        padding: 0;
        position: relative;
        top: 2px;
        width: 1.25rem;
      }

      span {
        color: #d7c6f4;
        font-size: 1.0625rem;
        font-weight: 500;
        line-height: 1.0625rem;
      }

      &::after {
        border: none;
      }
    }
  }

  &__image,
  &__modal-text,
  &__btn-dwn {
    align-items: center;
    height: auto;
    justify-content: center;
    width: 100%;
  }

  &__image,
  &__btn-dwn {
    display: flex;
  }

  &__image {
    margin-bottom: 0.6rem;
  }

  &__header {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__flex {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    margin: 0.8rem 0;
  }

  &__content__3 {
    color: $white;
    font-size: 1.46rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    text-align: center;
  }

  &__content__4 {
    color: map-get( $purple, '25' );
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-align: center;
  }

  &__flex &__content__1 {
    flex: 0.7;
  }

  &__flex &__content__2 {
    flex: 5;
  }

  &__button {
    .Button {
      background-color: transparent;
      border: 0.1875rem solid $white;
      justify-content: center;
      line-height: 0;
      overflow: none !important;
      padding: 0;
      position: relative;
    }

    .Button--focused {
      background-color: map-get( $pink, '100' );
    }

    .Button--focused::after {
      border: none;
    }

    .Button:focus-visible {
      outline: none !important;
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
  }
}
