@import '../../../styles/src/variables';

.ActivateApplePopup {
  &__layout {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
    margin-bottom: 2rem;
  }

  &__back {
    .Button {
      background-color: transparent;
      color: $white;
      font-size: 1.0625rem;
      font-weight: map-get( $fontweights, '500' );
      height: 2.5rem;
      line-height: 1.0625rem;
      padding: 0;
      width: 7.188rem;

      svg {
        height: 1rem;
        margin: 0 0.5rem 0 0;
        padding: 0;
        position: relative;
        top: 2px;
        width: 1.25rem;
      }

      span {
        color: #d7c6f4;
        font-size: 1.0625rem;
        font-weight: 500;
        line-height: 1.0625rem;
      }

      &::after {
        border: none;
      }
    }
  }

  &__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;

    &--title {
      margin-top: 0.5rem;
    }
  }

  &__contentWrapper {
    display: flex;
  }

  &__leftContent {
    display: flex;
    flex-direction: column;
    width: 28.27rem;
  }

  &__leftContentNote {
    .Text {
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2rem;
    }
  }

  &__flex {
    align-items: flex-start;
    display: flex;
    margin: 0.8rem 0;
  }

  &__leftContentHeader {
    .Text {
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.5rem;
      width: 4.166rem;
    }
  }

  &__leftContentBody {
    .Text {
      color: map-get( $purple, '25' );
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem;
    }
  }

  &__rightContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 28.25rem;

    .Text {
      margin-bottom: 0.833rem;
    }
  }

  &__contentDiverder {
    align-self: stretch;
    background: linear-gradient( 180deg, rgba( 215, 198, 244, 0 ) 0%, #d7c6f4 49.48%, rgba( 215, 198, 244, 0 ) 100% );
    margin: 0 2.5rem;
    width: 3px;
  }

  &__QRCode {
    background-color: $white;
    border-radius: 0.5rem;
    margin-bottom: 1.666rem;
    padding: 0.75rem;
    width: 12rem;

    @media only screen and (width: 1280px) {
      width: 17rem !important;
    }
  }
}

.ActivateApplePopupModal {
  padding: 1rem;
}

.ActivateJourneyPopUpModal::backdrop {
  background-color: $backdrop-color-activationPopUpModal !important;
}
