@import '../../../styles/src/variables';

.NeflixComboPlan {
  &__container {
    background-color: map-get( $purple, '10' );
    border-radius: 0.834rem;
    display: flex;
    flex-direction: column;
    margin-top: 1.667rem;
    padding: 1.667rem;
    pointer-events: none;
    width: 73.5rem;

    &--dividerSVG {
      height: 9.875rem;
      width: 1rem;
    }

    &--section {
      display: flex;
    }

    &--centerBox {
      align-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1.25rem;

      .Text {
        font-size: map-get( $fontsizes, 'p12' );
        width: 100%;
      }
    }

    &--centerBoxBanner {
      background: black;
      border: 1px solid  map-get( $bingeBlue, '75' );
      border-radius: .5rem;
      filter: drop-shadow( 0 4px 16px rgba( 0, 0, 0, 0.25 ) );
      height: 3.8125rem;
      left: 0;
      padding: 0.625rem 0.9375rem 0.625rem 0.9375rem;
      top: 0;
    }

    &--remainingApps {
      margin-left: -0.25rem;
      width: 100%;

      p {
        color: map-get( $bingeBlue, '75' );
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.25rem;
      }
    }

    &--crown {
      align-items: center;
      display: flex;
      height: 1.334rem;
      margin-bottom: 0.75rem;

      .Text {
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        margin-left: 0.5rem;
      }
    }

    &--amountFirst {
      font-size: 1.375rem;
      font-weight: 700;
    }

    &--amountLast {
      font-size: 1.25rem;
      font-weight: 400;
    }

    &--apps {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1.334rem;
      width: 40rem;

      .AppMediaCard {
        &__content .Image img {
          border-radius: 9px;
          height: 3.75rem;
          margin: -0.6rem;
          width: 3.75rem;
        }
      }

      &--title {
        margin-bottom: 0.875rem;
        width: 100%;
      }
    }

    &--header {
      display: flex;
      height: 1.667rem;
      justify-content: space-between;
      margin-bottom: 0.833rem;
    }

    &--tvChannelsBox {
      margin-left: 1.6rem;
      position: relative;

      &--title {
        margin-top: 1.8125rem;
        width: max-content;

        .Text {
          font-size: 0.833rem;
          font-weight: 500;
        }
      }
    }

    &--tvHDSDBox {
      align-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      top: 50%;
      transform: translateY( -50% );
      width: 8.5rem;

      svg {
        margin-right: 1rem;
        width: 2.5rem !important;
      }

      .Text {
        font-size: 1.125rem;
        font-weight: 400;
        margin-right: 1rem;
        width: 1rem;
      }
    }
  }

  &__diclaimer {
    margin-bottom: 2.5rem;
    margin-top: 0.833rem;

    .Text {
      color: map-get( $purple, '25' );
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
    }
  }

  &__footer {
    .Text {
      color: map-get( $purple, '25' );
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    flex-direction: column;

    .Text {
      font-size: 1.667rem;
      font-weight: map-get( $fontweights, '500' );
      line-height: map-get( $lineheights, 'em2' );

      &:first-child {
        font-size: 2.083rem;
        margin-bottom: 0.375rem;
        margin-bottom: 1.667rem;
      }
    }
  }
}
