@import '../../../styles/src/variables';

.MxPlayer {
  position: absolute;

  &__pageError {
    padding: 20em 0 20em 16rem;
  }
}

.mxPlayerWapper {
  height: 45.75rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 80rem;

  .Loader {
    background: transparent;
  }
}

.mx__action-button {
  display: none !important;
}

.mx__skip-container > .mx__skip-button {
  display: none !important;
}

.mx__slider-button::after {
  background: #e10092;
}

.mx__slider-buffer-bar,
.mx__slider-bar {
  background-image: linear-gradient( 296deg, #842888 61%, #e21fb7 );
}