@import '../../../styles/src/variables';

@mixin title {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 120%;
}

.EmptyBingeList {
  height: 100vh;
  position: relative;
  width: 100%;

  &__topHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 5.62rem;
    width: 100%;

    .Button {
      align-items: center;
      background: transparent;
      display: flex;
      flex-wrap: nowrap;
      height: unset;
      width: unset;
      &::after { content: unset; }

      &--focused {
        color: $white;

        path {
          fill: $white;
        }
      }
    }

    .Button--icon {
      @media only screen and (min-width: 1920px) {
        padding-left: 0.1875rem;
      }

      padding: 0;
    }

    svg {
      @media only screen and (min-width: 1920px) {
        margin-right: 1.25rem;
      }
    }
  }

  &__topHeaderRight {
    height: 1.125rem;
    width: 5rem;
  }

  &__backgroundImg {
    position: absolute;
    width: 100%;
  }

  &__content {
    align-items: center;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 2.334rem;
    z-index: 2;

    &__icon {
      margin-top: 7rem;
      width: 3.75rem;

      @media only screen and (min-width: 1920px) {
        margin-top: 8rem;
      }
    }

    &__title {
      margin-top: 2.03125rem;
    }

    &__title span {
      font-size: 2.08rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2.5rem;
    }

    &__subtitle {
      margin-bottom: 2.5rem;
      margin-top: 1.25rem;
    }

    &__subtitle span {
      font-size: 1.667rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2rem;
    }

    &__button {
      margin-bottom: 14.25rem;

      .Button {
        align-items: center;
        border-radius: 1.375rem;
        display: flex;
        // height: 3.5rem;
        justify-content: center;
        padding: 0.5625rem 3.25rem;
        width: 25rem;
      }
    }
  }
}
