@import '../../../styles/src/variables';

.Checkbox {
  position: relative;

  &__input {
    display: inline-block;
    height: 1.5rem;
    position: relative;
    vertical-align: middle;

    &--loginToggleButton,
    &--toggleButton {
      label {
        border-radius: 1.25rem;
        bottom: 0.625rem;
        position: absolute;
        top: 0.625rem;
        z-index: 1;
      }
    }

    &--loginToggleButton input {
      appearance: none;
      border: 1.5px solid #c7c0cf;
      border-radius: 2.5625rem;
      height: 3.3rem;
      position: relative;
      width: var( --lable-width-total );
    }

    &--loginToggleButton input::before,
    &--loginToggleButton input::after {
      color: $black;
      font-size: map-get( $fontsizes, 'p20' );
      // font-weight: map-get( $fontweights, '600' );
      line-height: map-get( $lineheights, 'em1_25' );
      position: absolute;
      top: 50%;
      transform: translateY( -50% );
      z-index: 2;
    }

    &--loginToggleButton input::before {
      content: var( --login-method-one );
      left: 0.8rem;
      margin-left: 0.2rem;
      margin-top: -0.1rem;
    }

    &--loginToggleButton input::after {
      content: var( --login-method-two );
      margin-top: -0.1rem;
      right: 0.9rem;
    }

    &--loginToggleFocus input {
      border: 4px solid white;
    }

    &--toggleButton {
      input {
        appearance: none;
        border: 0.1875rem solid $white;
        border-radius: 1.5625rem;
        height: 3rem;
        position: relative;
        width: 10.0625rem;

        &::before,
        &::after {
          color: $black;
          position: absolute;
          top: 50%;
          transform: translateY( -50% );
          z-index: 2;
        }

        &::before {
          content: 'OFF';
          font-size: map-get( $fontsizes, 'p20' );
          font-style: normal;
          // font-weight: 600;
          left: 1.55rem;
          line-height: map-get( $lineheights, 'em1_25' );
        }

        &::after {
          content: 'ON';
          font-size: map-get( $fontsizes, 'p20' );
          font-style: normal;
          // font-weight: 600;
          line-height: map-get( $lineheights, 'em1_25' );
          right: 1.75rem;
        }

        &:checked {
          background: $black;

          &::before {
            color: $white;
            transform: color 0.5s 0.2s;
          }

          &::after {
            color: $white;
            transform: color 0.5s;
          }
        }

        &:checked + label {
          background-color: map-get( $bingeBlue, '75' );
          height: 2.0625rem;
          left: 0.825rem;
          margin-top: -0.2rem;
          right: 7.5rem;
          transition: left 0.5s, right 0.4s 0.2s;
          width: 4.1875rem;
        }

        &:not(:checked) {
          background-color: $black;
          transition: background-color 0.5s -0.1s;

          &::before {
            color: $white;
            transition: color 0.5s;
          }

          &::after {
            color: $white;
            transition: color 0.5s 0.2s;
          }
        }

        &:not(:checked) + label {
          background-color: map-get( $pink, '100' );
          height: 2.0625rem;
          left: 5.625rem;
          margin-top: -0.2rem;
          right: 2.5rem;
          transition: left 0.5s, right 0.4s 0.2s;
          width: 4.1875rem;
        }
      }
    }

    &--loginToggleButton input:checked {
      &::before {
        color: $white;
        transform: color 0.5s 0.2s;
      }

      &::after {
        color: #c7c0cf;
        transform: color 0.5s;
      }
    }

    &--loginToggleButton input:checked + label {
      background-color: map-get( $pink, '100' );
      height: 2.25rem;
      left: 0.5rem;
      margin-top: -0.1rem;
      right: 7.5rem;
      width: var( --label-width-one ); // left
    }

    &--loginToggleButton input:not(:checked) {
      transition: background-color 0.5s -0.1s;

      &::before {
        color: #c7c0cf;
        transition: color 0.5s;
      }

      &::after {
        color: $white;
      }
    }

    &--loginToggleButton input:not(:checked) + label {
      background-color: map-get( $pink, '100' );
      height: 2.25rem;
      left: var( --lable-left-two );
      margin-top: -0.1rem;
      right: 2.5rem;
      width: var( --lable-width-two ); // right
    }
  }

  &--labelOnLeft {
    margin-left: 0.625rem;
  }

  &__normalCheckBox {
    background-color: map-get( $bingeBlue, '50' );
    border-radius: 0.125rem;
    display: block;
    height: 1.375rem;
    overflow: hidden;
    position: relative;
    width: 1.375rem;

    &--custom {
      border-radius: 50%;
    }

    &--disabled {
      cursor: not-allowed;
    }

    &--withFocus {
      border: 0.125rem solid $white;
    }

    &::after {
      border: solid $white;
      border-width: 0 0.125rem 0.125rem 0;
      content: '';
      display: block;
      height: 0.625rem;
      left: -50%;
      position: absolute;
      top: 50%;
      transform: rotate( 45deg ) translate( -50%, -50% );
      width: 0.375rem;
    }
  }

  &__checkbox {
    bottom: 0.375rem;
    left: 0.3125rem;
    position: absolute;
    z-index: -1000;

    &:focus {
      outline-offset: 0;
      top: 0.125rem;
    }

    &:checked + .Checkbox__normalCheckBox {
      background-color: map-get( $pink, '100' );

      &--disabled {
        background-color: map-get( $neutral, '200' );
        cursor: not-allowed;
      }

      &::after {
        left: 30%;
      }
    }

    &:checked:focus + .Checkbox__normalCheckBox {
      &::after {
        // transform: rotate( 45deg );
      }
    }
  }
}

.Checkbox__label-toggle {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
  width: 100%;
  z-index: 2;
}

.Checkbox__label-one,
.Checkbox__label-two {
  color: $black;
  font-size: map-get( $fontsizes, 'p20' );
  font-weight: map-get( $fontweights, '600' );
  line-height: map-get( $lineheights, 'em1_25' );
  margin-top: 2rem;
}

.Checkbox__input--loginToggleButton input:checked ~ .Checkbox__label-toggle .Checkbox__label-one {
  color: $white;
}

.Checkbox__input--loginToggleButton input:checked ~ .Checkbox__label-toggle .Checkbox__label-two {
  color: #c7c0cf;
}

.Checkbox__input--loginToggleButton input:not(:checked) ~ .Checkbox__label-toggle .Checkbox__label-one {
  color: #c7c0cf;
}

.Checkbox__input--loginToggleButton input:not(:checked) ~ .Checkbox__label-toggle .Checkbox__label-two {
  color: $white;
}
