@import '../../../styles/src/variables';

.NotificationsPopUp {
  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2.083rem;

    svg {
      height: 6.583rem;
      padding-bottom: 1rem;
      width: 6.125rem;

      path {
        width: auto;
      }
    }

    .Text--title-3 {
      line-height: 1.9375rem;
    }

    .Text--body-3 {
      padding-top: 0.938rem;
      pointer-events: none;

      a {
        color: $white;
        outline: none;
      }
    }

    .Text--body-5 {
      padding-top: 2.5rem;
      width: 23.063rem;
    }

    .Text--appleTv-header {
      margin-bottom: 1rem;
    }
  }

  &__button {
    .Button {
      border-radius: 1.375rem;
      height: 2.833rem;
      justify-content: center;
      margin-top: 2.5rem;
      outline: 0;
      padding: 0.333rem;
      width: 25rem;
    }
  }

  &__goBack {
    padding-top: 1.25rem;

    .Button {
      background-color: transparent;
      color: $white;
      font-size: 1.0625rem;
      font-weight: map-get( $fontweights, '500' );
      height: 2.5rem;
      line-height: 1.0625rem;
      padding: 0;
      width: 7.188rem;

      svg {
        height: 1rem;
        margin: 0 0.5rem 0 0;
        padding: 0;
        position: relative;
        top: 2px;
        width: 1.25rem;
      }

      span {
        color: #d7c6f4;
        font-size: 1.0625rem;
        font-weight: 500;
        line-height: 1.0625rem;
      }

      &::after {
        border: none;
      }
    }
  }
}

.NotificationsPopUpModal {
  display: flex;
  height: 21rem;
  padding: 0;
  // top: 25%;
  width: 33.25rem;
}

.showLoaderOnPrimePage {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  height: 15rem;
  outline: none;
  padding: 0;
  width: 15rem;
}

.showLoaderOnPrimePage::backdrop {
  background: transparent;
}