@import '../../../styles/src/variables';

.MyAccount {
  &__content {
    margin: auto;
    position: relative;
    width: 59.375rem;
    z-index: 2;
  }

  &__header {
    align-items: center;
    display: flex;
    margin-bottom: 4.45rem;
    margin-top: 2.334rem;
    position: relative;
    z-index: 2;

    .Button {
      align-items: center;
      background: transparent;
      display: flex;
      flex-wrap: nowrap;
      height: unset;
      margin-left: 2.75rem;
      width: unset;
      &::after { content: unset; }

      &__icon {
        margin-right: 0.75rem;
      }
    }

    svg {
      display: block;
      margin-left: auto;
      margin-right: 5.625rem;
    }
  }

  &__title {
    margin-bottom: 1.5rem;

    .Text {
      font-size: 2.08rem;
      line-height: 2.5rem;
    }
  }

  &__userInfo {
    display: flex;
    height: 18.2rem;
    justify-content: center;
  }

  &__version {
    p {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 5.625rem;
      position: relative;
      z-index: 2;
    }
  }

  &__userInfoLeft {
    margin-right: 11.625rem;
    width: 22.81rem;

    .Divider {
      margin: 1.875rem auto;
    }
  }

  &__userInfoRight {
    width: 22.81rem;

    .Button {
      align-items: center;
      color: $white;
      display: flex;
      font-weight: map-get( $fontweights, '600' );
      margin-bottom: 1.25rem;
      width: -webkit-fill-available;

      &__subscriptionTextYellow {
        margin-left: auto;

        p {
          color: #fabb3e;
          font-size: 1.25rem;
          line-height: 110%;
        }
      }

      .Text {
        &--buttonInputText {
          width: fit-content;
        }
      }

      &__subscriptionText {
        p {
          font-size: 1.25rem;
          line-height: 75%;
        }
      }
    }
  }

  &__btnCrownGoldForward {
    > svg {
      margin-left: -0.35rem;
      margin-right: 0.25rem;
      position: relative;
    }
  }

  &__rail {
    margin-top: 1rem;
    padding-left: 5rem;
    position: relative;
    z-index: 2;

    &--left {
      margin-left: unset;
      width: unset;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  &__railContainer {
    display: flex;
    overflow: auto;
    padding-left: 0.2rem;
    padding-right: 1rem;
    scroll-behavior: smooth;

    .AccountCard {
      margin-right: 1.25rem;

      svg {
        height: 2rem !important;
        width: 2rem !important;
      }
    }

    > .Button {
      opacity: 0;
      padding: 0;
      width: 0;
    }
  }

  &__divider {
    height: 1rem;
    position: relative;

    &--image {
      background: linear-gradient( 180deg, rgba( 255, 255, 255, 5e-05 ) 0%, rgba( 255, 255, 255, 0.5 ) 46.5%, rgba( 255, 255, 255, 5e-05 ) 100% );
      height: 55.625rem;
      left: 50%;
      position: absolute;
      right: 50%;
      top: 50%;
      transform: translateY( -50% ) matrix( 0, 1, 1, 0, 0, 0 );
      width: 0.125rem;
    }
  }

  &__notification {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 2;

    .Notifications svg {
      padding-right: 1.5rem;
      width: 3.875rem;
    }
  }

  .Button--secondary::after {
    border: 0.125rem solid map-get( $bingeBlue, '75' );
  }

  .Button--focused::after {
    border: 0.1875rem solid $white;
  }

  &__background {
    // background: linear-gradient( 146.32deg, #020005 0%, #220046 100% );
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

.Loader {
  background: transparent;
}