@import '../../../styles/src/variables';

.playerADUiContainer {
  display: flex;
  height: 100vh;
  padding: 3.33rem;
  position: absolute;
  width: 100%;
  z-index: 1;

  &__topGradient {
    background: linear-gradient( 180deg, #000 0%, rgba( 0, 0, 0, 0.63 ) 67%, rgba( 2, 0, 5, 0 ) 100% );
    height: 7.5rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__back {
    height: fit-content;
    left: 1.875rem;
    top: 0.58rem;
    width: fit-content;
    z-index: 2;

    .Button {
      background-color: transparent;
      color: $white;
      font-size: 1.0625rem;
      font-weight: map-get( $fontweights, '500' );
      height: 2.5rem;
      line-height: 1.0625rem;
      padding: 0;
      width: 7.188rem;

      svg {
        height: 1rem;
        margin: 0 0.5rem 0 0;
        padding: 0;
        position: relative;
        top: 2px;
        width: 1.25rem;
      }

      span {
        color: #d7c6f4;
        font-size: 1.0625rem;
        font-weight: 500;
        line-height: 1.0625rem;
      }

      &::after {
        border: none;
      }
    }
  }

  &__bottomUI {
    bottom: 3.625rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 5rem;
    position: absolute;
    width: 73.33rem;

    .adsCountContainer {
      display: flex;
      height: fit-content;
      width: fit-content;

      .ads {
        height: fit-content;
        width: fit-content;

        .Text {
          align-items: center;
          background: map-get( $purple, '100' );
          border-radius: 6px;
          color: #fff;
          display: flex;
          font-size: 1.25rem;
          font-weight: 600;
          height: 2rem;
          justify-content: center;
          line-height: 1.5rem;
          width: 2.875rem;
        }

        &--single {
          width: 2.29rem;
        }
      }

      .adsCount {
        margin-left: 0.5rem;

        .Text {
          align-items: center;
          background: #0006;
          border-radius: 0.25rem;
          color: $white;
          display: flex;
          font-size: 1.25rem;
          font-weight: 600;
          height: 2rem;
          justify-content: center;
          line-height: 1.5rem;
          padding: 0 0.33rem;
          text-align: right;
          text-underline-position: from-font;
        }
      }
    }

    .adsProgressBar {
      align-items: center;
      display: flex;
      height: 2rem;
      justify-content: center;
    }
  }
}