@import '../../../styles/src/variables';

.LoginToggle {
  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    position: relative;
    z-index: 2;
  }

  &__checkbox {
    margin-left: 1.2rem;
  }

  &__title {
    color: white;
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;

    p {
      font-size: 2.08rem;
      font-weight: 600;
      line-height: 2.5rem;
    }
  }
}
