@import '../../../styles/src/variables';

.BackgroundComponent {
  // background: linear-gradient( 146.32deg, #020005 0%, #220046 100% );
  background: linear-gradient( 99.86deg, #564372 0%, #220046 39.49%, #030106 100% ), linear-gradient( 146.32deg, #020005 0%, #220046 100% );
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 0001;

  &__content {
    bottom: 0%;
    height: 25.8125rem;
    left: 0%;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    right: -0.08%;
    top: 0%;
  }

  &__topGradient {
    background: linear-gradient( 180deg, #020005 13.92%, rgba( 2, 0, 5, 0.8 ) 45.19%, rgba( 2, 0, 5, 0 ) 100% );
    height: 8.938rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
  }

  &__bottomGradient {
    background: linear-gradient( 180deg, #020005 13.92%, rgba( 2, 0, 5, 0.8 ) 45.19%, rgba( 2, 0, 5, 0 ) 100% );
    bottom: 0;
    height: 8.938rem;
    position: absolute;
    transform: matrix( 1, 0, 0, -1, 0, 0 );
    width: 100%;
    z-index: 9;
  }
}