@import-normalize; 
html.BLOCK_PAGE_SCROLL,
html.BLOCK_PAGE_SCROLL body {
  overflow: hidden !important;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  // @include body-1;
  background-color: white;
  color: black;
  margin: 0;
}
// HD
@media only screen and (width: 1280px) {
  html {
    font-size: 16px;
  }
}

// Full HD
@media only screen and (min-width: 1920px) {
  html {
    font-size: 24px;
  }
}

.AppContainer {
  margin: 0 auto;
  .page--leftMargin{
    margin-left: 6.583rem;
  }
  .MediaCard--provider .Image img {
    height: 1.583rem !important;
    width: 1.583rem !important;
    position: absolute;
    top: 0.6rem;
    right: 0.6rem !important;
  }
  // commented for future reference
  // .MediaCard--provider {
  //   &--image .Image img {
  //     height: 1.278rem !important
  //   }
  // }
  // .MediaCard--provider {
  //   &--NewHeightimage .Image img {
  //     height: 1.5rem !important
  //   }
  // }
}

// @font-face {
//   font-display: swap;
//   font-family: 'Chronicle Deck';
//   font-weight: normal;
//   src: url('../../../assets/fonts/ChronicleDeck-Roman.otf') format('opentype');
// }

// @font-face {
//   font-display: swap;
//   font-family: 'Circular';
//   font-weight: 300;
//   src: url('../../../assets/fonts/CircularStd-Book.otf') format('opentype');
// }

// @font-face {
//   font-display: swap;
//   font-family: 'Circular';
//   font-weight: 500;
//   src: url('../../../assets/fonts/CircularStd-Medium.otf') format('opentype');
// }

// @font-face {
//   font-display: swap;
//   font-family: 'Circular';
//   font-weight: bold;
//   src: url('../../../assets/fonts/CircularStd-Bold.otf') format('opentype');
// }
