@import '../../../styles/src/variables';

.OtherCategories {
  background: $background;
  position: relative;

  &__scrollContainer {
    height: 100vh;
    overflow-y: auto;
  }

  &__Header {
    padding-left: 2.813rem;
    padding-right: 5.5rem;
  }

  &__topHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 3.75rem;

    .Button {
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      height: unset;
      width: unset;

      &::after {
        content: unset;
      }

      &__icon {
        margin-right: unset;
      }

      &--focused {
        color: $white;

        path {
          fill: $white;
        }
      }
    }

    .Button--icon {
      @media only screen and (min-width: 1920px) {
        padding-left: 0.1875rem;
      }

      padding: 0;
    }

    svg {
      @media only screen and (min-width: 1920px) {
        margin-right: 1.25rem;
      }
    }
  }

  &__topHeaderRight {
    height: 1.125rem;
    width: 5rem;
  }

  &__listingOtherCategories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3.875rem;

    >div.MediaCardWrapper {
      margin-bottom: 1.875rem;
      margin-right: 1.875rem;

      >div.MediaCard {
        height: 8.75rem;
        margin-bottom: 0;
        width: 14rem;

        .Image {
          height: 100%;
        }
      }
    }
  }
}