@import '../../../styles/src/variables';

.ParentalPinSetup {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__icon {
    margin-bottom: 2.11rem;
  }

  &__title {
    margin-bottom: 1rem;

    .Text {
      letter-spacing: 0;
      line-height: 2rem;
    }
  }

  &__subtitle {
    margin-bottom: 1.875rem;

    .Text {
      letter-spacing: 0;
      line-height: 1.5rem;
    }
  }

  &__inputCotainer {
    display: flex;
    margin-bottom: 1.25rem;

    .InputField {
      margin: 0 1rem 0 0;
      padding: 0;

      &__content {
        background: map-get( $bingeBlue, '125' );
        border: 0.125rem solid map-get( $bingeBlue, '75' );
        border-radius: 0.755rem;
        box-shadow: 0 0 0.95rem rgba( 0, 0, 0, 0.25 );
        display: flex;
        height: 4.168rem;
        margin: 0;
        mix-blend-mode: normal;
        padding: 0;
        width: 4.125rem;

        &--error {
          border: 0.125rem solid #e56c6c;
        }
      }

      &__formControls {
        margin: 0;

        .InputField__input {
          font-size: map-get( $fontsizes, 'p30' ) !important;
          margin: 0 !important;
          padding: 0 !important;
          text-align: center;
        }
      }
    }
  }

  &__incorrectPIN {
    margin-bottom: 0.875rem;
    position: relative;
    right: 6.5rem;

    p {
      color: #e56c6c;
    }
  }

  &__proceedButton {
    display: flex;
    justify-content: center;
    margin-top: 0.875rem;
    width: 100%;

    &--text {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 25rem;
    }
  }
}