@mixin linkStyle {
  @include link();
  color: $black;
  cursor: pointer;
  transition: transform map-get( $motions, 'anim-time-base' );
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 0.063rem;
  
  &--withHover {
    @include linkAnimation();
  }

  &--secondary {
    @include link-secondary();
    transition: transform map-get( $motions, 'anim-time-base' );
    color: map-get( $neutral, '600' );
    background-image: none;
    
    &:hover {
      background-image: linear-gradient(currentColor, currentColor);
     }
  }

  &--compact {
    @include link-compact();
  }

  &--disabled {
    color: map-get( $neutral, '600' );
    animation: none;
    background-image: linear-gradient(map-get( $neutral, '600' ), map-get( $neutral, '600' ));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 0.063rem;
  
    &:hover {
      cursor: not-allowed;
      animation: none;
    }
  }

  svg {
    margin-right: 0.5rem;
  }


  
  //***********************//
  //  link button styles  //
  //*********************//

  &--likeButtonWithHover {
    &:hover:after {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      }
  }

  &--likeButtonPrimary {
    @include linkButton($black, $white);
  }

  &--likeButtonSecondary {
    @include button-secondary();
    @include linkButton($white, $black);
  }

  &--likeButtonOutline {
    @include linkButton($white, $black, 0.063rem solid $black);
  }

  &--likeButtonCompact {
    @include button-filter();

    height: 2.5rem;
    min-width: 4.5rem;
    padding: 0.8rem 1.5rem;

    &.Link_Huge--likeButtonOutline{
      font-size: map-get( $fontsizes, 'p12' );
    }
  }

}

// This mixin is used to make link a Button design
@mixin linkButton($bgcolor: transparent, $color: $black, $border: 0) {
  @include button();
  color: $color;
  text-align: center;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  min-width: 6rem;
  margin: 0;
  padding: 1.3rem 2rem;
  height: 3.5rem;
  transform-origin: 50% 50%;
  border: none;
  z-index: 0;
  background-image: none;
  
  &::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border: $border;
  transform-origin: 50% 50%;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transition: transform 200ms linear;
  background-color: $bgcolor;
  }

  &:active:after {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
  }
  
}
