@import '../../../styles/src/variables';

.MediaCardWrapper {
  .MediaCard {
    // border: 0.1875rem solid transparent;
    border-radius: 0.55rem;
    height: 100%;
    margin-bottom: 0.375rem;
    // overflow: hidden;
    position: relative;
    transform-origin: center;
    // transition: transform .15s;
    transition: transform;
    transition-timing-function: linear;
    width: 100%;

    &--expiry {
      span {
        color: #e56c6c;
      }
    }

    &--title {
      .Text {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-family: 'Volte Play', system-ui;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-align: left;
        white-space: normal;
      }
    }

    &__editable {
      background-color: #8e81a1;
      border-radius: 50%;
      height: 1.25rem;
      position: absolute;
      right: 0.625rem;
      top: 0.625rem;
      width: 1.25rem;
      z-index: 999999;
    }

    &__editableCheck {
      background-color: map-get( $pink, '100' );
      border-radius: 50%;
      height: 1.25rem;
      position: absolute;
      right: 0.625rem;
      top: 0.625rem;
      width: 1.25rem;
      z-index: 999999;

      &::after {
        border: solid white;
        border-width: 0 0.125rem 0.125rem 0;
        content: '';
        display: block;
        height: 0.625rem;
        left: 32%;
        position: absolute;
        top: 13%;
        transform: rotate( 45deg );
        width: 0.375rem;

        @media only screen and (min-width: 1920px) {
          left: 34%;
          top: 19%;
        }
      }
    }

    &--media {
      .Image {
        // background-color: #33354d;
      }
    }

    &__episodeFree {
      align-items: center;
      background-color: map-get( $purple, '100' );
      border-top-left-radius: 0.375rem;

      /* Commented due to HB revamp changes */
      // top:0 ;
      bottom: 0.5rem;
      display: flex;
      height: 1.6875rem;
      height: 1.5rem;
      justify-content: center;
      margin-left: 0.541rem;
      margin-top: 0.416rem;
      padding-left: 0.3125rem;
      padding-right: 0.3125rem;
      position: absolute;
      right: 0.5rem;

      .Text {
        @include text-free-episode;
      }
    }

    &__liveContent {
      align-items: center;
      background-color: map-get( $purple, '100' );
      border-radius: 4px;
      display: flex;
      height: 1.6875rem;
      height: 1.5rem;
      justify-content: center;

      /* commented due to HB rail revamp */
      // right: 0.5rem;
      left: 0.5rem;
      padding-left: 0.3125rem;
      padding-right: 0.3125rem;
      position: absolute;
      top: 0.5rem;
      width: max-content;

      div {
        background-color: #ff224a;
        border-radius: 0.25rem;
        height: 0.5rem;
        margin-right: 5px;
        width: 0.5rem;
      }

      .Text {
        @include text-free-episode;

        font-weight: 600;
        margin-left: 0.167rem;
      }
    }

    &__timeBlock {
      bottom: 0;
      height: 1.666rem;
      position: absolute;
      right: 0.1875rem;
      top: 0.1875rem;
      z-index: 9999;

      .Text {
        line-height: initial;
      }

      &--title-rail {
        bottom: 0.35rem;
        position: absolute;
        right: 1.1875rem;
        z-index: 2;
      }
    }

    &__homePageTimeBlock {
      bottom: 0;
      height: 1.666rem;
      position: absolute;
      right: -2rem;
      width: 5.5rem;
      z-index: 9999;

      .Text {
        bottom: 0.2rem;
        line-height: initial;
        position: relative;
      }
    }

    &__cardTopGradiant {
      height: 2.375rem;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &__cardTitle {
      align-items: flex-end;
      background: linear-gradient( 180deg, rgba( 0, 0, 0, 0 ) 0.26%, rgba( 0, 0, 0, 0.74 ) 49.26%, #000 100.26% );
      border-bottom-left-radius: .45rem;
      border-bottom-right-radius: .45rem;
      bottom: 0;
      display: flex;
      height: 6rem;
      padding: .3125rem;
      position: absolute;
      width: 100%;

      svg {
        height: 1.25rem !important;
        width: 1.666rem !important;

        path {
          fill: $white;
        }
      }

      span {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-family: map-get( $fontfamilies, 'VoltePlay' );
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 0.49px;
        -webkit-line-clamp: 2;
        line-height: 1.2rem;
        margin-bottom: 0.1rem;
        overflow: hidden;
        padding-right: 4rem;
        text-align: left;
      }
    }

    &__SportsCardGradient {
      align-items: flex-end;
      background: linear-gradient( 180deg, rgba( 0, 0, 0, 0 ) 0.26%, rgba( 0, 0, 0, 0.74 ) 63.26%, #000 95.26% );
      border-bottom-left-radius: .45rem;
      border-bottom-right-radius: .45rem;
      bottom: 0;
      display: flex;
      height: 6rem;
      padding: .3125rem;
      position: absolute;
      width: 100%;
    }

    &__SportsCardTitle {
      bottom: 0;
      left: 0.2rem;
      margin: 0 0 0.3rem 0.3rem;
      position: absolute;

      span {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-family: map-get( $fontfamilies, 'VoltePlay' );
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.3px;
        -webkit-line-clamp: 2;
        line-height: 1.2rem;
        margin-bottom: 0.1rem;
        overflow: hidden;
        text-align: left;
        width: 12.45rem;
      }
    }

    &__seriesSpecialRailTitleBox {
      // align-items: center;
      // backdrop-filter: blur( 0.6rem );
      // background: rgba( 157, 159, 158, 0.32 );
      position: absolute;

      .Image {
        img {
          background: rgba( 157, 159, 158, 0.8 );
          border-bottom-left-radius: .45rem;
          border-bottom-right-radius: .45rem;
          bottom: 2.9rem;
          // display: flex;
          height: 2.916rem;
          // padding: .3125rem;
          position: relative;
          width: 100%;
        }
      }

      svg {
        bottom: 3.7rem;
        height: 1.5rem !important;
        margin: 0.2rem 0.2rem 0 1.18rem;
        position: absolute;
        width: 1.5rem !important;

        path {
          fill: $white;
        }
      }

      span {
        bottom: 3.7rem;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-family: map-get( $fontfamilies, 'VoltePlay' );
        font-size: 1.15rem;
        font-weight: 500;
        left: 3rem;
        -webkit-line-clamp: 1;
        line-height: 1.4rem;
        overflow: hidden;
        position: absolute;
      }
    }

    &__bannerTitle {
      span {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        // margin-top: 0.33rem;
        overflow: hidden;
        text-align: left;

        @include banner-title;
      }
    }

    &--withFocus {
      // box-shadow: inset 0 0 0 0.25rem currentColor;
      // border: 0.1875rem solid $white;
      // border-radius: 0.55rem;
      margin-bottom: 1rem;
      position: relative;
      transform: scale( 1.037 );
      z-index: 10;
      // &::after{
      //   background-color: map-get( $purple, '100' );
      // }
      &::before {
        // top: 0; right: 0; bottom: 0; left: 0;
        // z-index: -1;
        // background: linear-gradient(to right, red, orange);
        border: 0.167rem solid $white;
        border-radius: 0.55rem;
        bottom: -0.35rem;
        content: '';
        left: -0.35rem;
        // height: 100%;
        position: absolute;
        right: -0.35rem;
        // width: 100%;
        top: -0.35rem;
        z-index: -1;
      }

      .MediaCard__episodeFree {
        height: 1.5rem;

        /* Commented due to HB revamp changes */
        // left: 0.16rem;
        // top: 0.16rem;

        .Text {
          @include text-free-episode;
        }
      }

      .MediaCard__liveContent {
        .Text {
          @include text-free-episode;

          font-weight: 600;
        }
      }

      .MediaCard__cardTitle {
        margin-bottom: 0.15rem;
        margin-left: 0.15rem;
        width: 98%;
      }

      .MediaCard__seriesSpecialRailTitle {
        margin-bottom: 0.15rem;
        margin-left: 0.15rem;
        width: 98%;
      }
    }

    &--withFocusBanner {
      margin-bottom: 0.375rem !important;
    }

    &--provider {
      /* Commented due to new provider logo changes */
      margin-top: 0;   //margin-top: 1rem;

      &--image {
        display: flex;

        /* Commented due to new provider logo changes */
        // height: 35px;
        // margin-top: 0.5rem;
        margin-top: 0;
      }

      .Image {
        img {
          width: auto;
        }
      }
    }

    &__crownLogo {
      left: 0.5rem;
      position: absolute;
      top: 0.5rem;
    }

    &__playButton {
      left: 0;
      position: absolute;
      text-align: center;

      /* Commented due to UI/UX Portrait & Landscape changes */
      top: 2.2rem;
      // top: 4.2rem;
      visibility: hidden;
      width: 100%;

      &--withFocus {
        visibility: visible;
      }

      @media only screen and (min-width: 1920px) {
        svg {
          height: 3.333rem;
          margin-right: 0;
          width: 3.333rem;
        }
      }
    }

    &__progress {
      height: 0.5rem;
      margin-top: -0.45rem;
      position: relative;

      &--indicator {
        background-color: map-get( $pink, '100' );
        border-radius: 0 0.375rem 0.375rem 0.375rem;
        height: 0.4375rem;
        position: absolute;
        top: 50%;
        transform: translateY( -50% );
        width: 65%;
        z-index: 2;
      }
    }

    &__tagName {
      bottom: 0;
      left: 10px;
      position: absolute;
    }
  }

  &__detailSection {
    left: 0;
    margin-bottom: 7rem;
    margin-top: -1.5rem;
    position: absolute;
  }

  &--withFocus {
    margin-bottom: 10rem;
  }

  &--focusAlignment {
    margin-left: 0.45rem;
    margin-right: 0.25rem;
  }
}
