@import '../../../styles/src/variables';

.NumberKeyboard {
  align-content: center;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  justify-content: center;
  padding: 0.2em;
  width: fit-content;

  .numberKeyboard {
    .Button--focused::after {
      background-color: map-get( $bingeBlue, '125' );
    }
  }

  .Button {
    svg {
      margin-right: 0.75rem;
    }
  }

  &__row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 3.5rem;
    width: 21rem;

    &.lastItem {
      margin-bottom: 2.3125rem;
    }

    .Button {
      margin-bottom: 2.5rem;
      margin-right: 3.8rem;
    }

    &.buttonRow {
      flex-wrap: unset;
      margin-bottom: unset;
      margin-left: -1rem;
      width: 22rem;

      .Button {
        align-items: center;
        display: flex;
        margin-right: 1.5rem;

        &--focused {
          path {
            fill: $white;
          }
        }
      }
    }
  }

  &__key {
    background-color: transparent;
    border: 0.1875rem solid transparent;
    font-size: map-get( $fontsizes, 'p24' );
    font-weight: 400;
    height: 2.125em;
    justify-content: center;
    min-width: unset;
    outline: 0;
    padding: 0;
    width: 2.125em;

    &.Button--focused::after {
      // background-color: #020005;
      border-radius: 50%;
    }

    .Button__insideContentLabel {
      color: $white;
      font-family: map-get( $fontfamilies, 'VoltePlay' );
      position: relative;
      top: 0.125rem;
      z-index: 100000;
    }
  }

  &__key-action {
    background-color: transparent;
    border: 0;
    border-radius: 10em;
    height: 5em;
    outline: 0;
    padding: 1em;
    width: 5em;
  }

  &__key-action:hover {
    background-color: map-get( $bingeBlue, '125' );
  }

  &__deleteBtn,
  &__clearBtn {
    background-color: unset;
    padding: 0.562rem auto;

    .Button__insideContentLabel {
      font-family: map-get( $fontfamilies, 'VoltePlay' );
      font-weight: 600;
      line-height: 1.25rem;
    }

    &.Button--focused {
      background-color: map-get( $pink, '100' );
    }

    .Button__icon--withIconLeft {
      margin-right: 0;
    }
  }
}