@import '../../../styles/src/variables';

.PiDetailsDescription {
  &__content {
    width: 38.9375rem;

    .Text {
      line-height: 1.9375rem;
    }

    &--otherTv {
      > p {
        span {
          left: 5px;
          position: relative;
        }
      }

      .Text {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }
  }

  &__link {
    align-items: center;
    background-color: unset;
    border: 0.1875rem solid map-get( $pink, '25' );
    border-radius: 1.375rem;
    cursor: pointer;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    margin-left: 1rem;
    overflow: hidden;
    padding: 0.75rem 1rem;
    // padding: 0.75rem 0.125rem;

    svg {
      bottom: 0.01rem;
      height: 0.85rem;
      margin-right: 0.25rem;
      position: relative;
      width: 0.85rem;
    }

    &--focused {
      background-color: map-get( $pink, '100' );
      border: 0.1875rem solid $white;

      &::after {
        border: unset;
      }
    }

    &::after {
      background-color: unset;
      border: unset;
    }

    .Text {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.9375rem;
      margin-top: 0.1rem;
    }
  }
}

.PiDetailsDescriptionHome {
  &__content {
    width: 31.25rem;

    .Text {
      -webkit-box-orient: vertical;
      color: #c7c0cf;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-height: 1.9375rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--otherTv {
      > p {
        span {
          left: 5px;
          position: relative;
        }
      }

      .Text {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }
  }

  &__link {
    align-items: center;
    background-color: unset;
    border: 0.1875rem solid map-get( $pink, '25' );
    border-radius: 1.375rem;
    cursor: pointer;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    margin-left: 1rem;
    overflow: hidden;
    padding: 0.75rem 1rem;
    // padding: 0.75rem 0.125rem;

    svg {
      bottom: 0.01rem;
      height: 0.85rem;
      margin-right: 0.25rem;
      position: relative;
      width: 0.85rem;
    }

    &--focused {
      background-color: map-get( $pink, '100' );
      border: 0.1875rem solid $white;

      &::after {
        border: unset;
      }
    }

    &::after {
      background-color: unset;
      border: unset;
    }

    .Text {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.9375rem;
      margin-top: 0.1rem;
    }
  }
}

.PiDetailsDescriptionHome__tags {
  display: flex;
  // flex-wrap: wrap;
  // gap: 1rem;
  // width: 10.75rem;
  //height: 2rem;
}

.PiDetailsDescriptionHome__tags--row {
  flex-direction: row;
}

.PiDetailsDescriptionHome__tags--live {
  // align-items: center;
}

.PiDetailsDescriptionHome__tagItem {
  align-items: center;
  background-color: #620071;
  border-radius: 0.25rem;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  margin-top: 0.6rem;
}

.PiDetailsDescriptionHome__tagImage {
  flex-shrink: 0;
  height: 1.333rem;
  margin-left: 0.3rem;
  object-fit: contain;
  width: 1.33rem !important;
}

.PiDetailsDescriptionHome__tagText {
  .Text {
    align-items: center;
    color: $white;
    font-family: 'Volte Play', system-ui;
    font-size: 1.25rem;
    font-weight: 600;
    height: 2rem;
    line-height: 1.4;
    padding-left: 0.2rem;
    padding-right: 0.8rem;
    padding-top: 0.1rem;
    text-align: left;
    width: fit-content;
  }
}

.PlaybackInfo__liveContent {
  align-items: center;
  display: flex;
  //gap: 0.5rem;
  margin-right: 1rem;
}

.PlaybackInfo__liveCircle {
  background-color: red;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
}
