@import '../../../styles/src/variables';

.LeftNavContainer {
  height: 100%;
  min-width: 6.583rem;
  position: absolute;
  z-index: 9999;

  &__addedExtraSpace {
    margin-top: 4.3rem;
  }

  &__subscriptionIcon {
    .LeftNavItem__leftNavAnimation {
      margin-top: 0.625rem;
    }
  }

  &__loginIcon {
    .LeftNavItem__activeLogin {
      svg {
        height: 1.8rem;
        margin-right: 0;
        position: relative;
        right: 2px;
        top: 0.25rem;
        width: 1.8rem;

        path {
          fill: $white;
        }
      }
    }
  }

  &__expanded {
    width: 24.375rem;
  }

  &__wrapper {
    height: 100%;
    width: 100%;
  }

  &__navigation {
    background: linear-gradient( 90deg, #020005 54.56%, rgba( 2, 0, 5, 0.8 ) 72.84%, rgba( 2, 0, 5, 0 ) 92.02% );
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2.9rem 0 0 3.3rem;
  }

  &__divider {
    display: flex;
    height: 12.06rem;
    justify-content: center;
    left: -4rem;
    margin-bottom: 1.2rem;
    margin-top: -5.7rem;
    position: relative;
    width: 18rem;
  }

  &__divider--small {
    bottom: 0.6rem;
    display: flex;
    height: 2rem;
    justify-content: center;
    left: -1.8rem;
    position: relative;
  }

  &__primaryMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 100;

    li a {
      align-items: center;
      cursor: pointer;
      display: flex;
    }
  }

  &__secondaryMenu {
    list-style: none;
    padding: 0;
    position: relative;
    z-index: 100;

    li a {
      align-items: center;
      cursor: pointer;
      display: flex;
    }
  }
}