
@import '../../../styles/src/variables';

.HomeMediaCardWrapper {
  .HomeMediaCard {
    border: 0.1875rem solid transparent;
    border-radius: 0.55rem;
    height: 100%;
    margin-bottom: 0.375rem;
    overflow: hidden;
    position: relative;
    transition: transform ease-in-out;
    // transition: transform .5s ease-in-out;
    width: 100%;

    &--expiry {
      span {
        color: #e56c6c;
      }
    }

    &--title {
      .Text {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-family: 'Volte Play', system-ui;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-align: left;
        white-space: normal;
      }
    }

    &__editable {
      background-color: #8e81a1;
      border-radius: 50%;
      height: 1.25rem;
      position: absolute;
      right: 0.625rem;
      top: 0.625rem;
      width: 1.25rem;
      z-index: 999999;
    }

    &__editableCheck {
      background-color: map-get( $pink, '100' );
      border-radius: 50%;
      height: 1.25rem;
      position: absolute;
      right: 0.625rem;
      top: 0.625rem;
      width: 1.25rem;
      z-index: 999999;

      &::after {
        border: solid white;
        border-width: 0 0.125rem 0.125rem 0;
        content: '';
        display: block;
        height: 0.625rem;
        left: 32%;
        position: absolute;
        top: 13%;
        transform: rotate( 45deg );
        width: 0.375rem;

        @media only screen and (min-width: 1920px) {
          left: 34%;
          top: 19%;
        }
      }
    }

    &--media {
      .Image {
        background-color: #33354d;
      }
    }

    &--withFocus {
      border: 0.1875rem solid $white;
      border-radius: 0.55rem;
      margin-bottom: 1rem;
      position: relative;
      transform: scale( 1.02 );

      .MediaCard__episodeFree {
        height: 1.5rem;

        /* Commented due to HB revamp changes */
        // left: 0.16rem;
        // top: 0.16rem;
      }
    }

    &--provider {
      margin-top: 0.5rem;
      padding-left: 0.1875rem;

      .Image {
        img {
          width: auto;
        }
      }
    }

    &__timeBlock {
      position: absolute;
      right: 0.1875rem;
      top: 0.1875rem;
      z-index: 9999;

      .Text {
        line-height: initial;
      }
    }

    &__crownLogo {
      left: 0.5rem;
      position: absolute;
      top: 0.5rem;
    }

    &__playButton {
      left: 0;
      position: absolute;
      text-align: center;
      top: 1.9rem;
      visibility: hidden;
      width: 100%;

      &--withFocus {
        visibility: visible;
      }

      @media only screen and (min-width: 1920px) {
        svg {
          height: 3.333rem;
          width: 3.333rem;
        }
      }
    }

    &__progress {
      height: 0.5rem;
      margin-top: -0.45rem;
      position: relative;

      &--indicator {
        background-color: map-get( $pink, '100' );
        border-radius: 0 0.375rem 0.375rem 0.375rem;
        height: 0.4375rem;
        position: absolute;
        top: 50%;
        transform: translateY( -50% );
        width: 65%;
        z-index: 2;
      }
    }

    &__episodeFree {
      align-items: center;
      background-color: map-get( $purple, '100' );
      border-top-left-radius: 0.375rem;

      /* Commented due to HB revamp changes */
      //top:0
      bottom: 0.5rem;
      display: flex;
      height: 1.6875rem;
      justify-content: center;
      padding-left: 0.3125rem;
      padding-right: 0.3125rem;
      position: absolute;
      right: 0.5rem;

      .Text {
        @include text-free-episode;
      }
    }

    &__tagName {
      bottom: 0;
      left: 10px;
      position: absolute;
    }
  }

  &__detailSection {
    left: 0;
    margin-bottom: 7rem;
    position: absolute;
  }

  &--withFocus {
    margin-bottom: 10rem;
  }
}
