@import '../../../styles/src/variables';
@import '../../../styles/src/mixins';

.Carousel {
  position: relative;

  .swiper {
    height: 100%;
    width: 100%;
  }

  .swiper-slide {
    -webkit-align-items: center;
    align-items: center;
    // background: $white;
    -webkit-box-align: center;
    -webkit-box-pack: center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    font-size: 1.125rem;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
  }

  .Image {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 0.2rem solid $black;
    border: none;
    display: block;
    height: 100%;
    width: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    z-index: 9999;

    &::after {
      color: map-get( $pink, '300' );
      font-size: 2.5rem;
    }
  }

  &__bulletButtonsNewHBBanner {
    .swiper-pagination-bullet {
      background: #8e81a1;
      border-radius: 1rem;
      box-shadow: 0 0 4px rgba( 0, 0, 0, 0.25 );
      color: $white;
      height: 0.75rem;
      opacity: 1;
      width: 0.75rem;
    }

    .swiper-pagination-bullet-active {
      background: #f4f2f5;
      height: 0.83rem;
      width: 0.83rem;
    }

    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
      bottom: 13.625rem !important;
    }
  }

  &__bulletButtonsOldHBBanner {
    .swiper-pagination-bullet {
      background: #8e81a1;
      border-radius: 1rem;
      box-shadow: 0 0 4px rgba( 0, 0, 0, 0.25 );
      color: $white;
      height: 0.75rem;
      opacity: 1;
      width: 0.75rem;
    }

    .swiper-pagination-bullet-active {
      background: #f4f2f5;
      height: 0.83rem;
      width: 0.83rem;
    }

    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
      bottom: 3.25rem;
    }
  }

  &--languageList {
    display: flex;
    height: 1.5rem;
    margin: 1rem 0 1rem 0;

    .Text {
      @include basicTextStyles;

      letter-spacing: 0.71px;
    }
  }

  &__marketingAssetInfo {
    display: flex;
    height: 1.5rem;
    margin: 1rem 0 1rem 0;

    .Image {
      height: 1.5rem !important;
      width: 1.5rem !important;
    }

    .Text {
      @include basicTextStyles;

      letter-spacing: 0.71px;
      line-height: 1.8rem;
      margin-left: 0.25rem;
    }
  }

  &__NewCarouselTopSectionMetaInfo {
    &--liveContent {
      align-items: center;
      background-color: #6b00dd;
      border-radius: 0.25rem;
      display: flex;
      height: 2rem;
      justify-content: center;
      padding: 0.25rem 0.33rem 0.25rem 0.33rem;
      position: absolute;
      right: 6.25rem;
      top: 3.75rem;
      width: fit-content;
      z-index: 100;

      .liveContentCircle {
        background-color: map-get( $error, '600' );
        border-radius: 0.25rem;
        height: 0.5rem;
        margin-right: 10px;
        width: 0.5rem;
      }

      .Text {
        font-family: map-get( $fontfamilies, 'VoltePlay' );
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.25rem;
      }
    }

    &--provider {
      display: flex;
      flex-direction: row-reverse;
      position: absolute;
      right: 2.5rem;
      top: 3.25rem;
      z-index: 100;

      .Image {
        border: none !important;
        height: 3rem !important;
        width: 3rem !important;
      }

      &--visibility-hidden {
        visibility: hidden;
      }
    }
  }

  &__NewCarouselTopLeftSectionMetaInfo {
    display: flex;
    flex-direction: column;
  }

  &__NewCarouselTopLeftSection {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    height: 22.5rem;
    left: 1.667rem;
    position: absolute;
    // top: 7.625rem;
    top: 8.5rem;
    z-index: 7;
  }

  // &--classA {
  //   display: flex;
  //   justify-content: center;
  //   width: 600px;
  // }

  &__PrimeContentText {
    display: flex;
    flex-direction: column;
    height: 8.333rem;
    justify-content: center;
    max-width: 20.833rem;

    .Text {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* Limits text to 3 lines */
      margin-top: -1rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__mainImg {
    align-content: center;
    display: grid;
    // max-height: 200px;
    height: 8.333rem;
    max-width: 25rem;
    text-align: left;

    &__titleImage {
      // height: 8.33rem;
      // align-content: center;
      &--defaultImage {
        .Image {
          // aspect-ratio: 2;
          border: none !important;
          height: 8.33rem !important;
          // left: -2rem;
          max-width: 600px;
          position: relative;

          img {
            width: 100% !important;
          }
        }
      }

      &--visibility-hidden {
        display: none;
      }

      .Image {
        img {
          max-height: 200px;
          width: unset;
        }
      }

      &--classA {
        .Image {
          // aspect-ratio: 5.51;
          border: none !important;
          height: auto !important;
          // // left: -2rem;
          max-width: 600px;
          position: relative;
          width: 100%;

          img {
            display: block;
            height: auto;
            // margin-left: auto;
            // margin-right: auto;
            // width: 100%;
            max-width: 100%;
          }
        }
      }

      &--classB {
        .Image {
          // aspect-ratio: 4.01;
          border: none !important;
          height: 4.166rem !important;
          // left: -2rem;
          position: relative;
          width: auto;
        }
      }

      &--classC {
        .Image {
          // aspect-ratio: 3.01;
          border: none !important;
          height: 5.833rem !important;
          // left: -2rem;
          position: relative;
          width: auto;
        }
      }

      &--classD {
        .Image {
          // aspect-ratio: 2.01;
          border: none !important;
          height: 6.666rem !important;
          // left: -2rem;
          position: relative;
          width: auto;
        }
      }

      &--classE {
        .Image {
          // aspect-ratio: 1.51;
          border: none !important;
          height: 7.5rem !important;
          // left: -2rem;
          position: relative;
          width: auto;
        }
      }

      &--classF {
        .Image {
          // aspect-ratio: 1.5;
          border: none !important;
          height: 8.333rem !important;
          // left: -2rem;
          position: relative;
          width: auto;
        }
      }
    }
  }

  &--btns {
    text-align: left;

    &--watchNow {
      margin-bottom: 1rem;
    }

    .Button {
      border-radius: 0.417rem !important;
      margin-bottom: auto;
      padding-top: 0.15rem;
      width: 14.6rem;

      &--play {
        background-color: map-get( $pink, '100' );
        color: white;

        &::after {
          border: 0.187rem solid white;
        }

        svg {
          height: 1rem !important;
          left: 2px;
          margin-right: 0.85rem !important;
          position: relative;
          top: 2px;
          width: 1rem !important;
        }
      }

      &--transparent {
        background: none;
        color: map-get( $pink, '40' );

        &::after {
          border: 0.187rem solid map-get( $pink, '25' );
        }

        svg {
          height: 1rem !important;
          left: 2px;
          margin-right: 0.85rem !important;
          position: relative;
          top: 2px;
          width: 1rem !important;

          path {
            fill: map-get( $pink, '25' );
          }
        }
      }

      &--mybingelist {
        svg {
          height: 1rem !important;
          left: 2px;
          margin-right: 0.85rem !important;
          position: relative;
          top: 2px;
          width: 1rem !important;
        }

        background: none;
      }
    }

    .Button span {
      font-weight: 600;
    }

    .Button--secondary::after {
      border-radius: 0.417rem;
    }

    .Button--focused {
      background-color: map-get( $pink, '100' );
      border-radius: 0.417rem;

      svg {
        path {
          fill: $white;
        }
      }
    }

    .Button--focused::after {
      border-radius: 0.417rem;
    }
  }

  &__NewCarouselSection {
    height: 40rem;
    position: relative;
    width: 100%;
  }

  &__NewCarouselTopRightSection {
    left: 14.37rem;
    // left: 12.9rem;
    position: relative;
    // width: 57.75rem;
    width: 59.29rem;

    &--isFromCatalogPartner {
      // left: 18.33rem;
      left: 16.7rem;
    }

    .Image {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border: none;
    }

    &--forTypes {
      .Image {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border: none;
        height: 26.704rem !important;
        left: 10rem;
        position: relative;
        top: 1.5833rem;
        width: 47.5rem !important;
      }
    }
  }

  &__NewCarouselTopRightSectionGradient {
    height: 29.68rem;
    left: -1px;
    position: absolute;
    top: 0;
    width: 15.45rem;
    z-index: 2;// 26.68rem;

    &--forTypes {
      height: 26.708rem;
      left: 9.88rem;
      top: 1.541rem;
      width: 3rem;
    }
  }

  &__NewCarouselBottomSection {
    bottom: 0;
    height: 16.1rem;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;

    &--forTypes {
      bottom: 6.3rem;
      height: 9.125rem;
    }
  }

  &__LinearGradient {
    &--top {
      background: linear-gradient( 180deg, #020005 0%, rgba( 2, 0, 5, 0 ) 100% );
      height: 9.5625rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 999;
    }

    &--right {
      background: linear-gradient( 90deg, rgba( 2, 0, 5, 0 ) 0%, #020005 100% );
      height: 26.6875rem;
      left: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 9.5625rem;
      z-index: 999;
    }

    &--bottom {
      background:
        linear-gradient( 180deg,
        rgba( 2, 0, 5, 0 ) 0%,
        #020005 100%,
        #020005 100% );
      bottom: 0;
      height: 9.5625rem;
      left: 0;
      position: absolute;
      top: auto;
      width: 100%;
      z-index: 999;
    }

    &--left {
      background: linear-gradient( 90deg, #000 0%, rgba( 29, 30, 48, 0 ) 100% );
      height: 26.6875rem;
      left: 0;
      position: absolute;
      right: auto;
      top: 0;
      width: 9.5625rem;
      z-index: 999;
    }
  }

  &__overlayBackground {
    background: rgba( 29, 30, 48, 0.85 );
    height: 34.3125rem;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  &__overlayBgBottom {
    background: linear-gradient( 180deg, rgba( 2, 0, 5, 0.0001 ) 50%, #020005 100% );
    height: 34.3125rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  @include bottomSpacer();
}
