@import '../../../styles/src/variables';

.Splash {
  &__container {
    background: linear-gradient( 90deg, #020005 0%, rgba( 2, 0, 5, 0 ) 100% );
    height: 100vh;
    width: 100%;

    &--fullscreen-bg__video {
      height: 100%;
      width: 100%;
    }
  }

  &__routesVisibility {
    visibility: hidden;

    &--visible {
      visibility: visible;
    }
  }

  &__notFoundPage {
    align-items: center;
    background-color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
  }
}