@import '../../../styles/src/variables';

.video {
  height: inherit;
  width: auto;
}

.controlsContainer {
  background-color: transparent;
  height: 100vh;
  position: fixed;
  width: 100%;
}

.playerTitle-subTitle {
  display: flex;
  flex-direction: column;
  height: 4.71rem;
  left: 9.33rem;
  position: absolute;
  top: 3.5rem;
  width: 94%;
}

.playerTitle {
  color: #f0f0f0;
  font-size: 2.08rem;
  font-weight: 600;
  line-height: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.season-episode-details {
  color: #f0f0f0;
  font-size: 1.01rem;
  font-weight: 500;
  line-height: 120%;
  text-shadow: -1px 1px 3px rgba( 15, 15, 15, 0.65 );
}

.playerControls {
  align-items: center;
  background-color: transparent;
  bottom: 6.375rem;
  color: $white;
  display: flex;
  height: 2rem;
  justify-content: space-between;
  padding: 0 3.33rem;
  position: absolute;
  width: 100%;

  &--live {
    padding-left: 6.66rem;
  }

  &__currenttime {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: flex-end;
    margin-right: 0.5rem;
    width: 3.75rem;
    width: 7rem;
  }

  &__totalduration {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: flex-start;
    margin-left: 0.5rem;
    width: 7rem;
  }

  &__liveicon {
    align-items: center;
    background: map-get( $purple, '100' );
    display: flex;
    flex-direction: row;
    gap: 0.375rem;
    height: 2rem;
    justify-content: space-between;
    margin-left: 0.5rem;
    padding: 0.375rem 0.5rem;
    width: 4.25rem;
  }

  &__livecircle {
    background: #e56c6c;
    border-radius: 0.25rem;
    height: 0.5rem;
    padding: 0.25rem;
    width: 0.5rem;
  }

  &__livetext {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
}

// .playPauseControls {
//   height: 2.5rem;
//   width: 2.5rem;
//   // z-index: 9;
// }

.partnerPlayerPage {
  background-color: transparent !important;
  display: flex;
  height: 1080px;
  left: 0;
  position: fixed;
  top: 0;
  width: 80rem;
  z-index: 2;

  input[type=range] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
  }

  .player-wrapper {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;

    .waterMark {
      bottom: 0 !important;
      top: 2.91rem !important;
    }
  }
}

.currBitrateCls {
  background-color: #fff;
  color: #000;
  font-size: 40px;
  left: 20px;
  position: absolute;
  top: 0;
  z-index: 99;
}

.bitrateListCls {
  background-color: #fff;
  color: #000;
  font-size: 40px;
  left: 20px;
  position: absolute;
  top: 100px;
  z-index: 99;
}

/********** Range Input Styles **********/

/* Range Reset */
input[type="range"] {
  -webkit-appearance: none;
  appearance: initial;
  background: transparent;
  background-image: linear-gradient( #e10092, #e10092 );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  border-radius: 2rem;
  cursor: pointer;
  transition: width 0.5s linear;
  width: 100%;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/

/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: rgb( 186, 184, 185 );
  border-radius: 0.5rem;
  height: 0.5rem;
  z-index: -1;
}

/* slider thumb */
input[type="range" i]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;

  /* custom styles */
  background-color: #e10092;
  border-radius: 1.5625rem;
  height: 1.5rem;
  margin-top: -0.5rem; /* Centers thumb on the track */
  width: 1.5rem;
}

input[type="range" i]:focus::-webkit-slider-thumb {
  border: none;
  outline: none;
}

input[type="range"]::-webkit-progress-value {
  background-color: #053a5f;
  color: #5f0549;
}

/******** Audio Subtitile Styles ********/

.popup-buttons-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.sonyLiv-logo {
  left: 3.33rem;
  position: absolute;
  top: 2.92rem;
}

.sonyLiv-logo img {
  height: 5rem;
  width: 7.333rem;
}

.playerOverlay {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: center;
  visibility: visible;
  width: inherit;

  &--hidden {
    visibility: hidden;
  }
}

.nextEpisodeSonyCls {
  left: 83rem;
  position: absolute;
  top: 42rem;
}

.error-page {
  padding: 20em 0 20em 0;
}