
/******** button & pseudo class styles ********/

.popup-button {
  align-items: center;
  bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 3.33rem;
  position: fixed;

  .Button {
    align-items: center;
    background: rgba( 0, 0, 0, 0.4 );
    border: 0;
    border-radius: 1.375rem;
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.375rem 2.167rem;
    width: fit-content;

    .Button__insideContentLabel {
      color: #f0f0f0;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.25rem;
    }
  }

  .Button--focused {
    background: #f0f0f0;

    .Button__insideContentLabel {
      color: #000;
    }
  }

  .Button--focused::after {
    border: none;
  }
}