@import '../../../styles/src/variables';

.AccountCard {
  align-items: center;

  /* Dark Blue */
  background-color: map-get( $bingeBlue, '125' );
  background-image: none;

  /* Binge Blue 75% */
  border: 0.125rem solid map-get( $bingeBlue, '75' );
  border-radius: 0.9375rem;
  display: flex;

  /* Inside auto layout */
  flex: none;
  flex-direction: column;
  height: 6.25rem;
  justify-content: center;
  margin: 1rem 1.25rem 1rem 0;
  // transition: transform .2s ease-out;
  transition: transform ease-out;
  width: 12rem;

  .Text {
    line-height: 1.375rem;
  }

  &--withFocus {
    border: unset;
    -webkit-box-shadow: inset 0 0 0 0.1875rem $white;
    -moz-box-shadow: inset 0 0 0 0.1875rem $white;
    box-shadow: inset 0 0 0 0.1875rem $white;

    // reducing from scaling 1.05 to 1.02 for testing last card cropping Issue IN MYAccount
    transform: scale( 1.02 );
  }

  svg {
    margin-bottom: 0.5rem;

    > path {
      fill: $white;
    }
  }
}
