@import '../../../styles/src/variables';

.ShakaPlayer {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .ShakaPlayer__Container {
    height: 100vh;
    width: 100%;
  }

  &__pageError {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
  }

  &__videoPlayer {
    background-color: black;
    height: 100vh;
    object-fit: fill;
    width: 100%;
  }
}

video::-webkit-media-text-track-display {
  bottom: 6.5rem !important;
  left: unset !important;
  text-align: center !important;
  top: unset !important;
  transform: none !important;
  width: 100% !important;
}