@import '../../../styles/src/variables';

.UserProfileDetail {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;

  &__rightPanel {
    > p {
      margin-bottom: 0.375rem;
      width: 27rem;
    }

    .UserProfileDetail__rightPanel--fireTv p.Text {
      // white-space: nowrap;
    }

    p:nth-child(1).Text {
      font-size: 1.1rem;
      line-height: 1.8rem;
    }

    &--fireTv {
      display: flex;
      gap: 0.75rem;

      > p {
        width: 24.75rem;
      }

      .Text {
        font-size: 1.1rem;
        line-height: 1.8rem;
      }

      .Text:nth-child(1) {
        font-size: 1.25rem;
        line-height: 1.375rem;
      }

      .TvIcon {
        align-self: center;
        position: relative;
        top: -1px;
      }
    }

    &--email {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-height: 1;
      overflow: hidden;
      width: 20rem;
      word-break: break-all;
    }
  }

  .user_email {
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    height: 2rem;
    -webkit-line-clamp: 2;
    max-width: 20rem;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal !important;
    word-break: break-word;
  }

  &__leftPanel .Image img {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
  }
}
