.popup-button-container {
  display: flex;
  position: relative;
  right: 6.5rem;
  top: 3rem;

  .Button {
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: row;
    height: 4rem;
    &::after { border: none; }

    &--focused {
      span {
        font-weight: 600 !important;
      }
    }

    svg {
      align-self: center;
      height: 2rem;
      margin-right: 0.5rem;
      padding: 0;
      width: 2rem;
    }

    span {
      color: white;
      font-size: 1rem;
      font-size: 1.5rem;
      font-weight: normal;
      letter-spacing: 0.1rem;
    }
  }

  &__video-popup {
    margin: 0 1rem;
  }
}
