@import '../../../styles/src/variables';

.RenameDevice {
  svg {
    margin-right: 1rem;
  }

  &__header {
    align-items: center;
    display: flex;
    margin-bottom: 3.3rem;
    margin-top: 2.334rem;
    position: relative;

    .Button {
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      height: unset;
      margin-left: 2.75rem;
      width: unset;
      &::after { content: unset; }

      &__icon {
        margin-right: 0.75rem;
      }
    }

    svg {
      display: block;
      margin-left: auto;
      margin-right: 5.625rem;
    }
  }

  &__inputSection {
    display: flex;
    flex-direction: column;
    width: 27.25rem;

    &--title {
      margin-bottom: 1.5rem;
    }

    &--sectionInfo {
      color: map-get( $purple, '40' );
      display: flex;
      flex-direction: column;
      outline: unset;

      .InputField {
        border: 0;

        &__input {
          font-family: map-get( $fontfamilies, 'VoltePlay' );
          font-weight: map-get( $fontweights, '500' );
          line-height: map-get( $lineheights, 'em1_62' );
          text-align: left;
        }

        &__content {
          color: map-get( $purple, '40' );
          margin-bottom: 20.063rem;
          width: 22.625rem;
        }

        .InputField__input--active {
          color: map-get( $purple, '40' );
        }
      }
    }

    &--updateBtn {
      .Button {
        align-items: center;
        background: map-get( $pink, '100' );
        border-radius: 1.375rem;
        display: flex;
        flex-direction: row;
        height: 2.5rem;
        justify-content: center;
        margin-top: 15.75rem;
        padding: 0.563rem 3.25rem;
        width: 25rem;
      }
    }
  }

  &__keyboard {
    .AlphanumericKeyboard__row {
      &.buttonRow {
        margin-left: 1.5rem;
        width: 27rem;

        .Button {
          padding: 0 1rem;
        }
      }
    }

    .AlphanumericKeyboard__row:first-child {
      margin-left: 2.625rem;
      width: 25.875rem;
    }

    .AlphanumericKeyboard__row.buttonRow .AlphanumericKeyboard__clearBtn {
      padding: 0 2.25rem;
    }
  }

  input {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &__content {
    display: flex;
    justify-content: space-evenly;

    .InputField__formControls .InputField__input {
      font-size: 1.375rem;
    }
  }

  &__notification {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 2;
  }

  &__renameContent {
    background: map-get( $bingeBlue, '125' );
    border: 0.125rem solid $white;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba( 0, 0, 0, 0.4 );
    color: white;
    font-size: map-get( $fontsizes, 'p22' );
    font-weight: map-get( $fontweights, '500' );
    height: 2.8125rem;
    line-height: map-get( $lineheights, 'em1_1' );
    padding: 0.625rem 1.5rem 0.625rem 1.25rem;
    text-align: left;
    width: 22.625rem;

    &--placeholder {
      color: map-get( $bingeBlue, '50' );
      font-size: map-get( $fontsizes, 'p22' );
      font-style: normal;
      font-weight: map-get( $fontweights, '500' );
      line-height: 100%;
    }

    &--errorMessage {
      margin-top: 1rem;
      position: absolute;
    }
  }
}
