@import './styles/src/variables';

*,
*::after,
*::before {
  box-sizing: border-box;
}
body{
  background: $background;
  font-family: 'Volte Play';
  position: relative;
  // scroll-behavior: smooth;
}
.main {
  .page {
    flex: 1;
    height: 100vh;
  }
  .hide {
    display: none;
    pointer-events: none;
  }

  .show {
  display: block;
  pointer-events: auto;
  }

  .hideChild {
    display: flex;
    position: absolute;
    left: -9999rem;
    top: -9999rem;
    opacity: 0;
    pointer-events: none;
  }
  
  .showChild{
  display: block;
  position: unset;
  pointer-events: auto;
  }

}

.showingLeftMenu {
  display: none;
}

@font-face {
  font-display: swap;
  font-family: 'Volte Play';
  font-weight: normal;
  src: local('Volte Play'), url('/fonts/VoltePlay-Regular.otf')
}

@font-face {
  font-display: swap;
  font-family: 'Volte Play';
  font-weight: 300;
  src: local('Volte Play'), url('/fonts/VoltePlay-Light.otf')
}

@font-face {
  font-display: swap;
  font-family: 'Volte Play';
  font-weight: 500;
  src: local('Volte Play'),  url('/fonts/VoltePlay-Medium.otf')
}

@font-face {
  font-display: swap;
  font-family: 'Volte Play';
  font-weight: 600;
  src: local('Volte Play'),  url('/fonts/VoltePlay-SemiBold.otf')
}

@font-face {
  font-display: swap;
  font-family: 'Volte Play';
  font-weight: bold;
  src: local('Volte Play'), url('/fonts/VoltePlay-Bold.otf');
}


.screensaver-bingelogo{
  svg{
    position: absolute;
    z-index: 1000000000;
    right: 3rem;
    bottom: 1rem;
    width: 7rem !important;
    height: 7rem !important;
  }

}

.screensaver{
  height: 100vh;
  width: 100vw;
  z-index: 10000000;
  position: relative;

  img {
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;

    &.animation {
      transform: scale(0.8);
      transition-duration: 1.2s;
      transition-property: opacity, transform;
      transition-timing-function: ease-out;

      &.active {
        opacity: 1;
        transform: scale(1);
        transition-property: opacity;
      }
    }
  }
}

